.submenu{
    width: 100%;
    left: 0;
    font-weight:200;
    
}
.submenu-items  {
    font-weight: bold;

  }
  .submenu-link {
    text-decoration: none; /* Remove underline from nested menu items */
    color: #333;
  }
  
  /* Remove underline from nested menu items */
  .submenu-items a:link,
  .submenu-items a:visited {
    text-decoration: none;
   
  }
.submenu-items a:hover {
    background-color: #f0f0f0; /* Customize the background color on hover */
    color: #333; /* Customize the text color on hover */
  }
  nestedMenuItem{
    text-decoration: none;
  }


  .navbar-nav {
    text-align: center;
    color: aqua;
  }
